header{
width:100%;
height: 70px;
background-color:#629C44;
transition:0.5s;
}
.headIcon{
width:auto;
height:70px;
position:absolute;
z-index:2;
}
.greenPatch{
background-color:#92D36E;
width:180px;
height:70px;
}
.navBar{
margin-left:140px;
margin-top:-55px;
font-size:30px;
color:#92D36E;
display:inline-block;
}
.navLink{
text-decoration:none;
color:#DFEDD6;
background-color:#629C44;
padding-top:15px;
padding-bottom:22px;
font-family: 'Quattrocento Sans', sans-serif;
padding-left:10px;
padding-right:10px;
transition:0.5s;
}
.navLink:hover{
background-color:#92D36E; 
}
.navOption{
display:inline-block;
padding-left:40px;

}
.nonActive{
background-color:#629C44;
display:inline-block;
}.active{
background-color:#92D36E;
display:inline-block;
}
body{
margin:0;
padding:0;
background-color:#F7F6F6;
} 
.timeSheetForm{
    display:none;
}